<h1>Heroes</h1>
<body>
<% @heroes.each do |hero| %>
  <div class="profile">
    <%= link_to hero_path(hero) do %>
		<img src="<%= hero.picture %>" alt="Hero Picture">
<% end %>
  </div>
<% end %>

</body>