<% heroes = "heroes.png" %>


<head>
<div class="heros-header">
<img src="<%= asset_path(heroes) %>" alt="Difficulty Rating">
</div>
</head>
<body>
<% @heroes.each do |hero| %>
  <div class="profile">
    <%= link_to hero_path(hero) do %>
		<img src="<%= hero.picture %>" alt="Hero Picture">
<% end %>
    <div class="hero-names">
      <%= hero.name %>
    </div> 
  </div>
<% end %>

</body>