// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-video{
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}

#line-graph {
    justify-content: flex-end;
    align-items: flex-start;
    width: 1000px;
}

// #geo-chart {
//     back
// }
