// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
    margin-left: 26rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 20px;
    color: rgba(0, 0, 0, 0.884);
}

.dashboard {
    display: flex;
}

.background-video{
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}

.graph {
    margin-bottom: 3rem;
}

.buttons a {
    text-decoration: none;
}

.buttons:hover {
    background: #818181;
    box-shadow: 0 1px 2px #d3d3d392;
}

#line-graph {
    justify-content: flex-end;
    align-items: flex-start;
    width: 1000px;
}

#pie-chart {
    margin-bottom: 3rem;
}

#geo-chart {
    margin-bottom: 3rem;
}